<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite">
  <test name="Test">
    <classes>
      <class name="com.AgileAutomationCI_Selenium.CI_Selenium.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SmokeSuite -->
